html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cormorant', serif !important;
  text-align: center;
}

h1, h2, h3 , h4, h5, h6 {
  font-family: 'Dosis', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.jewel-type{
  /* padding-top: 5%; */
  color: #d5ae1f;
}

.orose-title{
  font-style: italic;
}

#section1{
  top: "80px";
}

#section2{ 
  padding-right: 0%;
  padding-left: 0%;
}

#section3, #section31{
  background-image: url(/collection-bkg.png);
  background-size: 800px;
  padding-right: 10%;
  padding-left: 10%;
}


#section4{
  padding-right: 10%;
  padding-left: 10%;
}

#section5{
  text-align: left;
  padding-right: 10%;
  padding-left: 10%;
}

.fp-arrow{
  background-color: #d5ae1f;
}

.fp-prev{
  position: absolute;
  margin-left: 10%;
  bottom: 20%;
}

.fp-next{
  position: absolute;
  margin-right: 10%;
}